#textdomain wesnoth-The_Dark_Hordes

[scenario]
    id=07x_Orcish_Alliance
    name= _ "Orcish Alliance"
    theme=Cutscene_Minimal
    map_data="{~add-ons/The_Dark_Hordes/maps/07x_Orcish_Alliance.map}"
    next_scenario=08_Underground_Pool
    victory_when_enemies_defeated=no
    turns=-1

    {SCENARIO_MUSIC "revelation.ogg"}
    {EXTRA_SCENARIO_MUSIC "northerners.ogg"}

    {DEFAULT_SCHEDULE_DUSK}

    [side]
        type=Initiate
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        side=1
        canrecruit=yes
        controller=human
        unrenamable=yes
        facing=nw
        gold=0
        team_name=evil
        user_team_name= _ "team_name^Gwiti"
        {FLAG_VARIANT undead}
    [/side]

    [side]
        no_leader=yes
        hidden=yes
        side=2
        team_name=orcs
        user_team_name= _ "team_name^Tanar"
        {FLAG_VARIANT6 ragged}
    [/side]

    [event]
        name=prestart

        {NEED_SUSANNE (x,y,facing=12,12,nw)}

        [lock_view][/lock_view]
    [/event]

    [event]
        name=start
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "At last, we left the plain behind and arrived at a place a little further away. It will take the foolish Wesnothians quite some time to reach here. A moment’s rest in such wasteland is not a bad thing."
        [/message]
        [message]
            speaker=Susanne
            message= _ "The terrain is sheltering us, but master, we should not remain here for long. We must head for the cave entrance that leads into the darkness. Either way, it will be troublesome with those paladins and mages chasing us relentlessly..."
        [/message]

        {SCATTER_UNITS 3 "Orcish Warrior,Orcish Warrior,Orcish Warrior" 0 x,y,radius=4,10,3 (
            side=2
            animate=yes
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        )}

        {SCATTER_UNITS 3 "Orcish Warrior,Orcish Warrior,Orcish Warrior" 0 x,y,radius=16,8,3 (
            side=2
            animate=yes
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        )}

        [message]
            type=Orcish Warrior
            message= _ "What? The undead? Alas, it seems that the fate of our clan is nearing its end, for even if we had escaped from the dwarves, we would have had no choice but to be captured by these skeletons!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "How surprising. It was not the Wesnothians but the orcs who appeared before me. So, are you going to make the same foolish challenge as those I have killed before? Where the hell is your lord?"
        [/message]

        [unit]
            type=Orcish Warlord
            id=Tanar
            profile="portraits/tanar.png"
            name= _ "Tanar"
            unrenamable=yes
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_STRONG}
            [/modifications]
            x=8
            y=10
            facing=se
            animate=yes
            side=2
        [/unit]

        [message]
            speaker=Susanne
            message= _ "Eh... what is this cave-smelling orc?"
            scroll=no
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Hey orc, if you are an enemy of the petty dwarves, I could consider an alliance with you. I have just such feelings of benevolence right now, and in any case, it would be expedient for us to explore in the caves with those who are familiar with it. First, tell me your name, huh?"
        [/message]
        [message]
            speaker=Tanar
            message= _ "I am Tanar, lord of an orcish clan that dwelt here! My people were driven out by the dwarves. All families count several dead. Please, let us march with you, for only a chance to strike back at the evil dwarves!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Gladly. Now we have a negotiation. It is really sad that I am only talking to myself, but unfortunately my lackeys are not worth conversing with. Ah, Susanne, I should add that you are at least worth speaking to."
        [/message]
        [message]
            speaker=Susanne
            message= _ "Well... I have to wonder if this alliance is some kind of joke, but for me there is no matter."
        [/message]

        {MODIFY_UNIT (side=2) side 1}

        [message]
            speaker=Tanar
            message= _ "Thank you, my new lord! Never had I thought I would see the day when my people were glad to march alongside skeletons and ghosts..."
        [/message]

        [allow_recruit]
            side=1
            type=Orcish Grunt,Orcish Archer,Orcish Assassin,Wolf Rider
        [/allow_recruit]

        [endlevel]
            result=victory
            carryover_report=no
            replay_save=no
            linger_mode=no
            {NEW_GOLD_CARRYOVER 100}
        [/endlevel]
    [/event]
[/scenario]
