# wmllint: no translatables

#define CAPTURE_VILLAGE SIDE X Y
    # Syntactic shortcut to capture particular villages.
    [capture_village]
        side={SIDE}
        x={X}
        y={Y}
    [/capture_village]
#enddef

#define REMOVE_ALL_TRAITS FLT
    [remove_trait]
        {FLT}
        trait_id=strong
    [/remove_trait]
    [remove_trait]
        {FLT}
        trait_id=dextrous
    [/remove_trait]
    [remove_trait]
        {FLT}
        trait_id=quick
    [/remove_trait]
    [remove_trait]
        {FLT}
        trait_id=intelligent
    [/remove_trait]
    [remove_trait]
        {FLT}
        trait_id=resilient
    [/remove_trait]
#enddef
